In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
engine = create_engine('sqlite:///graphdata.db')
%matplotlib inline

In [23]:
stroke_data = pd.read_csv("../data/healthcare-dataset-stroke-data.csv")
stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [49]:
amount_of_stroke = stroke_data.groupby(by = ["gender"]).sum()['stroke']
amount_of_gender = stroke_data.groupby(by = ["gender"]).count()['stroke']
stroke_data["hypertension"] = stroke_data["hypertension"].astype(bool)
stroke_data["heart_disease"] = stroke_data["heart_disease"].astype(bool)
print(amount_of_stroke.head())
print(amount_of_gender)

gender
Female    141
Male      108
Other       0
Name: stroke, dtype: int64
gender
Female    2994
Male      2115
Other        1
Name: stroke, dtype: int64

In [50]:
pct_stroke = (amount_of_stroke / amount_of_gender) * 100

In [51]:
pct_stroke.axes[0].tolist()

['Female', 'Male', 'Other']

In [73]:
def graph_stroke_pct(category,df,title,xlabel,):
    """
    desc: graphs strokes by different values in a category
    inputs:
            category(str) : column in df we want to group by
            df (pd.DataFrame) : pandas data frame containing stroke data
    returns:
            Bar graph
    """
    amount_of_stroke = df.groupby(by = [category]).sum()['stroke']
    amount = df.groupby(by = [category]).count()['stroke']
    pct_stroke = (amount_of_stroke / amount) * 100
    ax = sns.barplot(x = pct_stroke.axes[0].tolist(), y = pct_stroke.values)
    ax.set_title(title)
    plt.ylim(0,100)
    #from https://datavizpyr.com/how-to-annotate-bars-in-barplot-with-matplotlib-in-python/
    for p in ax.patches:
        ax.annotate(format(p.get_height(), '.1f'), 
                    (p.get_x() + p.get_width() / 2., p.get_height()), 
                    ha = 'center', va = 'center', 
                    xytext = (0, 9), 
                    textcoords = 'offset points')
    plt.xlabel(xlabel, size=14)
    plt.ylabel("Percentage Who Have Suffered From a Stroke", size=10)

    plt.savefig("graphs/" + category + ".png")
    #clear plot
    plt.clf()

In [74]:
category_list = ['gender','hypertension','heart_disease','smoking_status','ever_married']
title_list = ["Strokes by Gender","Strokes by Hypertension (High Blood Pressure)","Strokes by Heart Disease","Strokes by Smoking Status","Strokes by if a Participant Was Previously Married"]
xlabel_list = ["Gender","Does Participant Have Hypertension?","Does Participant Have Heart Disease?","Smoking Status","Was Participant Previously Married?"]
#graph everything
for i in range(len(category_list)):
    graph_stroke_pct(category_list[i],stroke_data,title_list[i],xlabel_list[i])